.orden {
    display: flex;
    flex-direction: row;
}
.btnImage {
    width: 50px;
    height: 50px;
}
.flavorDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#F5F5F5;
padding: 5px;
}
.orden {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     background-color: #F5F5F5; 
padding: 20px;
}
.flavor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    border-color: black;
    background-color: #F5F5F5; 
}
.menu-flavor {
 display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    border-color: black;
    background-color: #F5F5F5; 
}
.btnPizza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0%;
    width: 120px;
    border-radius: 10px;
    height: 120px;
    background-color: #FFFFFF;
    border-width: 0px;
    margin: 10px;
    box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.1);
}
h3 {
    margin: 3%;
    color: #000;
    font-family: Outfit;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-family: 'Outfit', sans-serif;
}
h4 {
    margin: 3%;
    color: #F55;
}

.addButton{
  color: var(--texto-b, #FFF);
  font-size: medium;
  font-weight: 400;
  border-radius: 20px;
  background: var(--Enviar, #6FDA7A);
  padding: 5px 40px 5px 40px;
  border-width: 0ch;
  margin: 8px;

}
.menuFlavor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 4px;

}
.pizza{
    font-size:xx-large;
    margin: 0%;
}


#contador {
  width: 10px !important;
  height: 10px !important;
}

.orden {
  background-color: #f8f8f8;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 1000px;
}

.orden h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #575757;
}

.orden label {
  display: block;
  margin: 10px 0;
}

.orden input,
.orden textarea,
.orden select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.orden ul {
  list-style: none;
  padding: 0;
}

.orden li {
  margin-bottom: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 5px;
  border-radius:10px ;
  -webkit-border-radius:10px ;
  -moz-border-radius:10px ;
  -ms-border-radius:10px ;
  -o-border-radius:10px ;
}

.orden button {
  background-color:  #F55;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


.orden button:hover {
  background-color: #45a049;
}

li div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
li p{
margin: 0%;
    margin-right: 80px;
    margin-top: 4px;
    color: #575757;
font-size: medium;
}
li button{
  width: 90px;
  height: 30px;
  margin: 0%;
  padding: 0%;


}
input #contador{
  margin:0%
}

.flavorDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    background-color:#F5F5F5;
padding: 5px;
}


@media (max-width: 600px) {
  .flavorDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    padding: 5px;
  }

  .orden {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      background-color: #F5F5F5; 
    width: 300px;
    height: auto;
  }

  .menu-flavor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-color: black;
    background-color: #F5F5F5;
  
  }
.orden input,
.orden textarea,
.orden select {
  width: 60%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
 
}
